<main class="card-grid " >
    <div class="card-body" *ngFor="let patent of patent$?.content">
        <h3>ID: {{patent.id}} </h3>
        <strong></strong>
        <div>
            <h4>Reference Number:</h4>
            <p>{{ patent.our_reference_number}}</p>
        </div>
        <ul class="actions-list">
            <li class="" *ngFor="let action of patent?.action_list">
              <div> <strong>Id:</strong>{{action?.id}}</div>
              <div> <strong>type:</strong> {{action?.type_id}}</div>
            </li> 
        </ul>
        <button (click)="navigateDetails(patent.id)">Details</button>
    </div>

    <!-- <div class="card-body">
        <h3>Patent Title/Name</h3>
        <strong>Example Patent</strong>
        <div>
            <h4>Instruction Particulars</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                Vitae, placeat doloremque. Voluptatibus modi vero sit dicta
                voluptate tempora numquam deleniti mollitia, illo facilis nihil repellat veritatis, 
                debitis corporis dolorum alias?
            </p>
        </div>
        <ul class="actions-list">
            <li class=""><div>Action id: 7</div></li>
            <li class=""><div>Action id: 8</div></li>
            <li class=""><div>Action id: 9</div></li>
        </ul>
        <button>Edit this Document</button>
    </div> -->
</main>
