<main class="card-grid " *ngIf="patent$; else noData" >
    <div class="card-body" *ngFor="let patent of patent$?.content">
        <h3>ID: {{patent.id}} </h3>
        <strong></strong>
        <div>
            <h4>Reference Number:</h4>
            <p>{{ patent.our_reference_number}}</p>
        </div>
        <ul class="actions-list">
            <li class="" *ngFor="let action of patent?.action_list">
              <div> <strong>Id:</strong>{{action?.id}}</div>
              <div> <strong>type:</strong> {{action?.type_id}}</div>
            </li> 
        </ul>
        <button (click)="navigateDetails(patent.id)">Details</button>
    </div>
</main>

<ng-template #noData>
    No data available
</ng-template>