<div  *ngIf="active" class="overlay"  (click)="shunOverlay($event)">
  <!-- Delete Overlay Form: START   -->
  <form class="modal-content">

      <header>
      <div>Editing Action <strong># {{targetAction.id}}</strong> </div>
      <a class="cancel" (click)="setInactive()">&#x274C;</a>
      </header>

      <div>
        <ul class="form-list">
            <li *ngFor="let attribute of listOfTargetAction">
              <span> {{ attribute[0]}}: </span> <strong>{{ attribute[1]}}</strong>
            </li>
        </ul>
        <!-- <span style="display: flex; justify-content: space-evenly;">
            <button style="color: crimson;" type="submit">Go ahead and Delete this !!</button>
            <button class="color: teal; cursor:pointer;" (click)="setInactive()">Do not delete this {{documentType}}</button>
        </span> -->
      </div>

  </form>
  <!-- Delete Overlay Form: END   -->
</div>
