h2,h3 {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.message-body {
  position: absolute;
  left: 10%;
  top: 75%;
}
.text-styles{
  width: 80vw;
  height: 100px;
  word-wrap: break-word;
  overflow: auto;
}

.error-bubble {
  color: crimson;
  background-color: pink;
  border: 2px crimson solid;
  border-radius: 15px;
  padding: 5px;

  display: flex;
  justify-content: space-between;
  align-content: center;
  text-align: center;
  word-wrap: break-word;
}

.clear{
  height: 20px;
  margin: 0 5px;
  padding: 0 5px;
  color: black;
  font-size: 18px;
  font-weight: 600;
  border-radius: 15px;
  border: 1px solid black;
  text-align: center;
}
