nav {
    /* border: 1px solid black; */
    background-color: #36393f;
    height: 100%;
    /* color: #fff; */
    padding: 15px 1px;
    width: 100%;
}
.nav-cap {
    padding: 1px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(168, 159, 159, 0.685)
}

.btn{
    cursor: pointer;
    background-color: grey;
    border: 1px solid #36393f;
    padding: 5px;
}
.btn:hover,:active{
    background-color: #36393f93;
}
.teal{
    color: teal !important;
}

.list-item-divider {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    height: 70vh;
    overflow-y:scroll;
    overflow-x:hidden;
}
.list-item-divider::-webkit-scrollbar { 
    /* Chrome Safari */
    display: none; 
}
.list-item {
    display: flex;
    list-style: none;
    margin-top: 16px;
    border-bottom: 1px solid rgba(168, 159, 159, 0.685);
    cursor: pointer;
    transition: 0.3s;
}
.list-item:hover{
    color: #667bd8;
    font-weight: 500;
    /* font-size: 16px; */
}
.close{
    font-size: 15px;
    transition: 0.4s;
}
.close:hover{
    font-size: 20px;
    color: crimson;
    font-weight: 600;
}

.reminder-item{
    background-color: #FFF;
    border: 1px solid rgb(218, 211, 211);
    box-shadow: -3px 6px 2px 0 rgba(0, 18, 46, 0.49);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
    padding: 5px;
    text-overflow: ellipsis;
}
.list-item-title-brace{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.matured{
    transition: 1s;
    /* border: 1px solid rgb(224, 52, 87); */

    box-shadow: 0 0 0 0  rgb(224, 52, 87);
    transform: scale(1);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0  rgba(224, 52, 86, 0.3);
    }
    
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 5px  rgba(247, 6, 54, 0.7);
    }
    
    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(224, 52, 86, 0.2);
    }
}