<nav (mouseenter)="refreshList()">
    <div class="nav-cap">
        <button (click)="createReminderForm()">Set a Reminder</button>
        <button *ngIf="isMobile" (click)="toggleList()">|||</button>
    </div>
    <div class="list-item-divider" *ngIf="!isMobile || (opened && isMobile)">
        <li class="list-item reminder-item" 
        *ngFor="let item of (utilityService.reminderListSubject|async)" 
        [ngClass]="{'matured': item.matured }">
            <strong>{{item.title}}</strong>
            {{item.reminder_detail}}
            <!-- {{item|json}} -->
        </li>
    </div>
</nav>
<r-overlay
[active]="(utilityService.reminderCreateSubject|async)"
[managerType]="'Reminders'"
[documentType]="'reminder'"
[formType]="'create'"></r-overlay>