<nav >
    <div class="nav-cap">
        <button (click)="reminderCreateForm()">Set a Reminder</button>
        <button *ngIf="isMobile" (click)="toggleList()">|||</button>
    </div>
    <div class="list-item-divider" *ngIf="!isMobile || (opened && isMobile)">
        <li class="list-item reminder-item" 
        *ngFor="let reminder of (utilityService.reminderListSubject|async)" 
        [ngClass]="{'matured': reminder.matured }">
        <header class="list-item-title-brace">
            <strong>{{reminder.title}}</strong>
            <span class="close" (click)="reminderDeleteDialogue(reminder)"> &times;</span>
        </header>
        {{reminder.reminder_detail}}
            <!-- {{item|json}} -->
        </li>
    </div>
</nav>
<r-overlay
[active]="(utilityService.reminderCreateSubject|async) !== (utilityService.reminderDeleteSubject|async)"
[managerType]="'Reminders'"
[documentType]="'reminder'"
[formType]="formType"></r-overlay>