<div class="HolyGrail">
  <header>
    <success-message></success-message>
    <header-content></header-content>
  </header>
  <div class="HolyGrail-body">
    <main class="HolyGrail-content">
      <!-- Main Content --> 
      <router-outlet></router-outlet>
    </main>
    <nav class="HolyGrail-nav">
      <side-nav></side-nav>
    </nav>
    <!-- <aside class="HolyGrail-ads">
      <side-nav 
      [managerType]="'Trademark_manager'"
      [title]="'Trademark Type List'" [itemList]="trademark_ActionTypes"></side-nav>
    </aside> -->
  </div>
  <footer>
    <footer-content></footer-content>
    <error-message></error-message>
  </footer>
</div>
