<main>
  Main content
  <div class="card-body">
    <h1 class="card-header">Patent Document</h1>
    <div class="scrollable-grid">
      <section>
        <h2 class="card-header">Patent Registration</h2>
        <hr width="90%">
        <ul>
          <li>item 1: <input type="text"> </li>
          <li>item 2: <input type="text"> </li>
          <li>item 3: <input type="text"> </li>
          <li>item 4: <input type="text"> </li>
          <li>item 5: <input type="text"> </li>
        </ul>
      </section>
    </div>
    
  </div>
</main>