<div class="scrollable-grid">
  <select class="custom-select" (change)="fetchDocuments($event)" >
    <option disabled>Choose DocumentType </option>
    <option 
    *ngFor="let type of patent_ActionTypes" 
    [ngValue]="type">{{type}}</option>
  </select>
  <ul class="card-grid">
    <li class="card-body" *ngFor="let amendmentItem of amendmentActionList" >
      <header class="card-header" >
        <span> ID: {{ amendmentItem.id }}</span>
        <a class="manage-button">actions</a>
      </header>
      <p> Amendment Nature: {{ amendmentItem.nature_of_amendment }}</p>
      <button 
        (click)="viewDetails(amendmentItem)" >Further details</button>
      <h6> Date Received: {{ amendmentItem.date_amendment_received }}</h6>
    </li>
  </ul>
</div>
<a href="#" class="square_btn" (click)="createDocument()">&#43;</a>
<overlay 
[active]="this.modalIsActive"
[formType]="'create'"></overlay>
