<div class="scrollable-grid">
  <select class="custom-select" (change)="fetchDocuments($event)" >
    <option disabled>Choose DocumentType </option>
    <option
    *ngFor="let type of patent_ActionTypes" 
    [ngValue]="type">{{type}}</option>
  </select>
  <ul class="card-grid">
    <li class="card-body" *ngFor="let document of documentList" >
      <header class="card-header" >
        <span> ID: {{ document.id }}</span>
        <a class="manage-button">Actions</a>
      </header>
      <div class="attributes-container" *ngFor="let attribute of utilityService.toList(document); let i = index">
        <div *ngIf="attribute[0] != 'id' && i < 4"> 
          
          <span style="color: #667bd8; ">{{attribute[0]}}:  </span>{{attribute[1]}} 
        </div>
      </div>
      <!-- <p> Amendment Nature: {{ document.nature_of_amendment }}</p> -->
      <!-- <h6> Date Received: {{ document.date_amendment_received }}</h6> -->
      <button 
        (click)="viewDetails(document)">
      Further details</button>
    </li>
  </ul>
</div>
<a href="#" class="square_btn" (click)="createDocument()">&#43;</a>
<overlay
[active]="this.modalIsActive"
[documentType]="patentActionUrlDict[documentType]"
[formType]="'create'"></overlay>
