.container{
    height: 30px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding:0 5px;
    border: 1px solid #667bd8;
    border-radius: 12px;
    background-color: #fff;

}
select{
    margin:0 5px;
}
button{
    width: 5em;
}