.date-inputs{
    /* width: 50%; */
    height: 30px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    color: #fff;

}
input{
    border-radius: 15px;
}
button{
    width: 5em;
}