li {
    display: flex;
    flex-flow: row wrap;
}
.column-flex{
    display: flex;
    flex-direction: column;
}
.font-colour{
    color: #fff;
}
.font-weight{
    font-weight: 800;
}

.info-view {
    padding: 5%;
    margin: 5px;
    width: auto;
    height: 54vh;
    line-height: 2em;
    list-style: none;
    overflow-y: scroll;
}
.widget-container{
    display: flex;
    /* width: 15%; */
    justify-content: space-evenly;
    margin: 0 10px;
}
.widget-container>div{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.square_btn{
    /* position: relative;
    top: 90%;
    left: 80%; */
    /* display: flex; */
    padding: 0.5em 1em;
    text-decoration: none;
    background: #667bd8;/*Button Color*/
    color: #FFF;
    border-radius: 16px;
    box-shadow: 0 6px 32px 0 rgba(0, 18, 46, 0.84);
}
.square_btn:active {/*on Click*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*Move down*/
    border-bottom: none;/*disappears*/
}

.detail-subtitle{
    color: #fff;
    font-weight: 900;
    font-size: 19px;
    text-shadow: 2px 1px #252424;
}

.view-patent{
    color: #FFF;
    margin-top: 20px;
    padding: 0 5%;
    transition: 0.5s;
    text-decoration: underline;
}
.view-patent:hover{
    color: #667bd8;
}

.detail-controls{
    /* position: relative;
    bottom: 20%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.detail-controls>button{
    margin: 0 5%;
}


/* Action list */
.actions{
    display: flex;
}
.actions-list{
    width: 50%;
    /* height: 130px; */
    margin: 0;
    padding-left: 0;
    color: black;
    display: flex;
    overflow-x: auto;
    list-style: none;
}
.actions-list>li{
    background-color: #FFF;
    border: 1px solid rgb(218, 211, 211);
    box-shadow: -3px 6px 2px 0 rgba(0, 18, 46, 0.49);

    border-radius: 15px;
    text-overflow: ellipsis;

    padding: 5px;
    margin: 5px;
}
.actions-list>li>div{
    width: 90px ;
}
/* Actions controls */
.actions-controls{
    width: auto;
    display: flex;
    flex-flow: column wrap;
}
