<div class="detail-controls">
    <strong class="view-patent" (click)="viewPatents()"> &#x21d0; Back to Patents</strong>
    <div class="widget-container">
       <div>
        <input (click)="saveChanges()" type="button" value="Save">
        <input (click)="summonDeleteOverlay()" type="button" value="Delete">
       </div>
    </div>
</div>
<hr>
<ul class="font-colour info-view" *ngIf="listOfPatent">
    <h2>Patent ID: {{patentID}}</h2>
    <li *ngFor="let patentField of stripListOfPatent(listOfPatent)">
        <div style="display: flex;" >
            <div>{{ patentField[0] }}</div>
            <div>:<strong>{{ patentField[1]}}</strong></div>
            <button (click)="toggleEdit(patentField[0])">Edit</button>
        </div>
        <div *ngIf="is_editing == patentField[0]">
            <input type="text" [(ngModel)]="patentField[1]">
            <input type="button" value="cancel-edit" (click)="cancelEdit()">
        </div>
    </li>

    <hr>
    <strong class="view-patent" >View Actions</strong>
    <div class="actions">
        <ul class="actions-list">
            <li class=""
            *ngFor="let action of patent$?.action_list">
              <div> <strong>Id:</strong>{{action?.id}}</div>
              <div> <strong>type:</strong> {{action?.type_id}}</div>
              <button (click)="summonEditActionOverlay()"> Edit Existing Action</button>
              <edit-p-action-overlay
              *ngIf="edit_action_is_active"
              [active]="edit_action_is_active"
              [targetAction]="action"></edit-p-action-overlay>
            </li>
        </ul>

        <div class="actions-controls">
            <action-list (patentActionListData)="setCurrentAction($event)"></action-list>
            <button (click)="applyCurrentAction()"> Apply New Action</button>
                <!-- Or
            <input type="text" placeholder="Action Id: xxx-xxx-xxx-xxx" #actionId> -->

        </div>
    </div>
    <div class="detail-controls">
        <strong class="view-patent" >View Images</strong>
        <button> Apply New Image</button>
        <button> Delete Image</button>
    </div>
</ul>


<delete [active]="delete_is_active"
        [targetId]="patentID"
        [documentType]="'patent'"></delete>

