li {
    display: flex;
    flex-flow: row wrap;
}
.column-flex{
    display: flex;
    flex-direction: column;
}
.font-colour{
    color: #fff;
}
.font-weight{
    font-weight: 800;
}

.info-view {
    padding: 5%;
    margin: 5px;
    width: auto;
    height: 66vh;
    line-height: 2em;
    list-style: none;
    overflow-y: scroll;
}
.widget-container{
    display: flex;
    width: 90%;
    justify-content: flex-end;
}
.square_btn{
    /* position: relative;
    top: 90%;
    left: 80%; */
    /* display: flex; */
    padding: 0.5em 1em;
    text-decoration: none;
    background: #667bd8;/*Button Color*/
    color: #FFF;
    border-radius: 16px;
    box-shadow: 0 6px 32px 0 rgba(0, 18, 46, 0.84);
}
.square_btn:active {/*on Click*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*Move down*/
    border-bottom: none;/*disappears*/
}

.detail-subtitle{
    color: #fff;
    font-weight: 900;
    font-size: 19px;
    text-shadow: 2px 1px #252424;
}

.view-patent{
    color: #FFF;
    margin-top: 20px;
    padding: 0 5%;
    transition: 0.5s;
    text-decoration: underline;
}
.view-patent:hover{
    color: #667bd8;
}