.images-list{
  width: 50%;
  margin: 0;
  padding-left: 0;
  color: black;
  display: flex;
  overflow-x: auto;
  list-style: none;

}


.picture-box> img{
  max-width: 150px;
  max-height: 100px;
}
