
<ul class="images-list">
  <li *ngFor="let image of image_list">
    <strong>Id:</strong>{{image?.id}}
    <input class="delete" type="button" value="X" (click)="summonOverlay(image)">
    <div class="picture-box"><img src="{{baseUrl}}{{image?.id}}" alt=""/></div>
  </li>
</ul>

<div class="actions-controls">
  <div>
    <strong>Upload Image</strong>
    <input type="file" accept="image/*" (change)="uploadImage($event.target.files)">
  </div>
</div>


<div  *ngIf="active" class="overlay"  (click)="shunOverlay()">
  <!-- Delete Overlay Form: START   -->
  <form class="modal-content" (ngSubmit)="deleteImage(deletingImage?.id)">

      <header>
      <h3>Delete this Image </h3>
      <a class="cancel" (click)="shunOverlay()">&#x274C;</a>
      </header>
  
      <div>
      <h4> Are you sure you want to delete this Image ?</h4>
      <p> Deleting this Image is irreversible</p>
      Id: {{deletingImage?.id}}
      <div class="picture-box">
        <img src="{{baseUrl}}{{deletingImage?.id}}" alt=""/>
      </div>
      <span style="display: flex; justify-content: space-evenly;"> 
          <button style="color: crimson;" (click)="deleteImage(deletingImage?.id)">Go ahead and Delete this !!</button>
          <button class="color: teal; cursor:pointer;" (click)="shunOverlay()">Do not delete this Image</button>
      </span>
      </div>
      
  </form>
  <!-- Delete Overlay Form: END   -->    
</div>
