<main>
    <strong class="view-patent" (click)="viewPatents()">View Patents</strong>
    <div class="card-body">
    <h1 class="card-header">Patent Document</h1>
    <div class="scrollable-grid">
      <section>
        <h2 class="card-header">Instruction Particulars</h2>
        <hr width="90%">
        <ul>
          <div *ngFor="let item of patent_particulars">
            <li *ngIf="(patentCreateForm[item[0]].type != 'list') &&
                       (patentCreateForm[item[0]].type != 'type_id')" > 
              <div>
                {{item[0]}}: <input 
                (input)="formMap(patentCreateForm)"
                [type]="patentCreateForm[item[0]].type" 
                [(ngModel)]="patentCreateForm[item[0]].value">
              </div>
            </li>
          </div>
        </ul>
        <!-- {{patentFormMap() | json}} -->
        <!-- NOTE: The "current" Instruction fields should auto-update, they are not editable -->
      </section>

      <section>
        <h2 class="card-header">Patent Action 
        <button (click)="addActionToggle()">Add new Action to this Patent?</button>
        </h2>
        <hr width="90%">
        <ul *ngIf="is_new_action">
          <select (change)="changeActionForm($event)">
            <option default>Select Action list</option>
            <option *ngFor="let action of actionList" [ngValue]="action">{{action}}</option>
          </select>
          <ul>
            <div *ngFor="let item of listOfPatentActionForm">
              <li *ngIf="(item[0] != 'instruction_ref') &&
                        (item[0] != 'id')">
                <div>
                  {{item[0]}}: <input
                  (input)="formMap(patentActionForm)"
                  [type]="item[1].type"
                  [(ngModel)]="item[1].value">
                </div>
              </li>
            </div> 
          </ul>
        </ul>
      </section>

        <div>
          <button (click)="registerPatent()">Register Patent</button>
        </div>
    </div>
    
  </div>
</main>