<div *ngIf="active" class="overlay" (click)="shunOverlay($event)">
    
    <!-- Create Reminder Form: START   -->
    <form class="modal-content"
    *ngIf="formType == formTypes[0]"
    [formGroup]="createForm"
    (ngSubmit)="onSubmit('create')">
    
      <header>
        <h3> Set a Reminder </h3>
        <a class="cancel" (click)="setInactive()">&#x274C;</a>
      </header>

      <div *ngIf="createForm">
        <ul class="form-list">
          <li 
          *ngFor="
          let item of utilityService
          .toList|pureCall:documentTypeFormDictionary[documentType]"> 
            <!-- show this input based on the functions evaluation as 'text' or 'date' -->
            {{item[0]}}: <input
            [formControlName]="item[0]"
            [type]="evaluateKey|pureCall:item" [name]="item[0]" > 
          </li>
        </ul>
      </div>
  
      <button type="submit">Submit</button>
  
    </form>
    <!-- Create Reminder Form: END   -->

  <!-- edit form: START -->
  <form class="modal-content" 
  *ngIf="formType == formTypes[1]"
  [formGroup]="editForm"
  (ngSubmit)="onSubmit('update')">

  <header>
    <h3>Edit the Reminder titled: {{ reminderObject.reminder_message_title}} </h3>
    <a class="cancel" (click)="setInactive()">&#x274C;</a>
  </header>

  <ul class="form-list" *ngIf="editForm" id="editFormId">
    <li
    *ngFor="let attribute of utilityService
    .toList|pureCall:documentTypeFormDictionary[documentType]" >
      {{ attribute[0] }} : <input #edit
      (input)="updateEditForm(attribute[0],edit.value)"
      [formControlName]="attribute[0]"
      [type]="evaluateKey|pureCall:attribute" [name]="attribute[0]" id=""> 
    </li>
  </ul>
  <!-- {{ editForm.value |json}} -->
    <button type="submit">Submit</button>
  </form>
  <!-- edit form: END -->

    <!-- Delete Reminder Form: START   -->
    <form class="modal-content" 
    *ngIf="formType == formTypes[2]"
    [formGroup]="deleteForm"
    (ngSubmit)="onSubmit('delete')">
  
      <header>
        <h3>Delete this Reminder </h3>
        <a class="cancel" (click)="setInactive()">&#x274C;</a>
      </header>
  
  
      <div *ngIf="deleteForm">
        <h4> Are you sure you want to delete this Reminder ?</h4>
        <p> Deleting this Reminder is irreversible</p>
        <ul class="form-list">
          <li *ngFor="let attribute of utilityService
          .toList|pureCall:reminderObject">
            <span> {{ attribute[0]}}: </span> {{ attribute[1]}}
          </li>
        </ul>
        <span style="display: flex; justify-content: space-evenly;"> 
          <button style="color: crimson;" type="submit">Go ahead and Delete this !!</button>
          <button class="color: teal; cursor:pointer;" (click)="setInactive()">Do not delete this document</button>
        </span>
      </div>
      
    </form>
    <!-- Delete Reminder Form: END  -->    

</div>