<div *ngIf="active" class="overlay" (click)="shunOverlay($event)">
    
    <!-- Create Reminder Form: START   -->
    <form class="modal-content"
    *ngIf="formType == formTypes[0]"
    [formGroup]="createForm"
    (ngSubmit)="onSubmit('create')">
    
      <header>
        <h3> Set a Reminder </h3>
        <a class="cancel" (click)="setInactive()">Close</a>
      </header>

      <div *ngIf="createForm">
        <ul class="form-list">
          <li 
          *ngFor="
          let item of utilityService
          .toList|pureCall:documentTypeFormDictionary[documentType]"> 
            <!-- show this input based on the functions evaluation as 'text' or 'date' -->
            {{item[0]}}: <input
            [formControlName]="item[0]"
            [type]="evaluateKey|pureCall:item" [name]="item[0]" > 
          </li>
        </ul>
      </div>
  
      <button type="submit">Submit</button>
  
    </form>
    <!-- Create Reminder Form: END   -->

    
</div>