header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

input {
  /* resize: both; */
  /* width: auto; */
  width: 100%;
  max-width: 200px;
}

label {
  display: flex;
  margin: 2px 0;
  color: #607d8b;
  font-weight: bold;
}

button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

/* The Modal (background) */
.overlay {
  /* Hidden by default */
  /* display: none;  */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
}

/* Modal Content */
.modal-content {
  position: fixed;
  bottom: 20%;
  background-color: #fefefe;
  width: 60%;
  margin: 0 20%;
  border-radius: 15px;
  padding: 5px;
  border: 2px solid wheat;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s;
}

/* Form List */
.form-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  /* align-items: center; */
}
.form-list > li {
  padding: 5px 0;
}

/* Cancel button */
a.cancel {
  font-family: Arial;
  color: crimson;
  border: none;
  cursor: pointer;
}


/* Animation */
@-webkit-keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 20%;
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 20%;
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
