<div *ngIf="active" class="overlay" >
  <form 
      class="modal-content" 
      *ngIf="formType == formTypes[0]"
      [formGroup]="createForm" 
      (ngSubmit)="onSubmit('create')">

    <header>
      <h3>Create an Amendment Action</h3>
      <a class="cancel" (click)="setInactive()">Close</a>
    </header>

    <div>
      <ul class="form-list">
        <li *ngFor="let item of utilityService.toList|pureCall:this.documentTypeFormDictionary[this.documentType]"> 
          <!-- show this input based on the functions evaluation as 'text' or 'date' -->
          {{item[0]}}: <input 
          [formControlName]="item[0]"
          [type]="evaluateKey|pureCall:item" [name]="item[0]" > 
        </li>
      </ul>
    </div>

    <button type="submit">Submit</button>
  </form>

  <!-- edit form: START -->
  <form class="modal-content" 
  *ngIf="formType == formTypes[1]"
  [formGroup]="editForm"
  (ngSubmit)="onSubmit('update')">

  <header>
    <h3>Edit this Document </h3>
    <a class="cancel" (click)="setInactive()">Close</a>
  </header>

  <div *ngIf="editeableObject">
    <ul class="form-list">
      <li *ngFor="let attribute of editeableAsList">
        {{ attribute[0] }} : 
        <!-- show this input based on the functions evaluation as 'text' -->
        <input 
        *ngIf="evaluateKey(attribute[0]) == 'text'"
        [formControlName]="attribute[0]"
         type="text" [name]="attribute[0]" id=""> 
        <!-- show this id based on the functions evaluation as 'id' -->
         <span *ngIf=" evaluateKey(attribute[0]) == 'id'">{{attribute[1]}}</span>
        <!-- show this input based on the function's evalutation as 'date' -->
         <input 
         *ngIf=" evaluateKey(attribute[0]) == 'date'"
         [formControlName]="attribute[0]"
          type="date" [name]="attribute[0]" id=""> 
      </li>
    </ul>
  </div>

    <button type="submit">Submit</button>
  </form>
  <!-- edit form: END -->

<!-- deletion form: START  -->
  <form class="modal-content" 
  *ngIf="formType == formTypes[2]"
  [formGroup]="deleteForm"
  (ngSubmit)="onSubmit('delete')">

    <header>
      <h3>Delete this Document </h3>
      <a class="cancel" (click)="setInactive()">Close</a>
    </header>


    <div *ngIf="editeableObject">
      <h4> Are you sure you want to delete this Document ?</h4>
      <p> This Deleting this document is irreversible</p>
      <ul class="form-list">
        <li *ngFor="let attribute of editeableAsList">
          <span> {{ attribute[0]}}: </span> {{ attribute[1]}}
        </li>
      </ul>
      <span style="display: flex; justify-content: space-evenly;"> 
        <button style="color: crimson;" type="submit">Go ahead and Delete this !!</button>
        <button style="color: teal;" (click)="setInactive()">Do not delete this document</button>
      </span>
    </div>
  </form>
  <!-- deletion form: END -->
</div>
